{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/bulma-divider.min.css' %}?{% cache_bust %}">
{% endblock %}

{% block title %}| Mi cuenta{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h3 class="title">{{ user.account }}</h3>
                    <h5 class="subtitle has-text-grey">{% if not user.account.is_for_all %}Mi cuenta{% else %}Cuenta de usuarios{% endif %}</h5>
                </div>
                <div class="column is-one-quarter">
                    {% if not user.account.is_for_all %}
                        <p>
                            <span class="icon"><i class="mdi mdi-account"></i></span>
                            <span>Cuenta personal</span>
                        </p>
                    {% else %}
                        <p>
                            <span class="icon"><i class="mdi mdi-account-group"></i></span>
                            <span>Cuenta colectiva</span>
                        </p>
                    {% endif %}
                    {% if user.email %}
                        <p>
                            <a href="mailto:{{ user.email }}">
                                <span class="icon"><i class="mdi mdi-email"></i></span>
                                <span>{{ user.email }}</span>
                            </a>
                        </p>
                    {% endif %}
                </div>
            </div>
            <hr class="is-divider" style="margin-top: 1rem">
            <div class="columns">
                <div class="column">
                    <article class="message is-success">
                        <div class="message-header">Conecte sus dispositivos</div>
                        <div class="message-body">
                            Es usuario del sistema y como tal puede utilizar los puertos USB.
                            Introduzca sus dispositivos, y si ya los ha introducido, proceda a re-introducirlos
                            nuevamente.
                        </div>
                    </article>
                    <article class="message is-warning">
                        <div class="message-header">Necesita permisos</div>
                        <div class="message-body">
                            Ser usuario del sistema es necesario para utilizar los puertos USB
                            pero no es suficiente para acceder a sus dispositivos. Al registrar
                            un dispositivo su administrador le asigna determinados permisos de
                            acceso.
                        </div>
                    </article>
                    <p class="content">
                        Para más información contacte a su administrador.
                    </p>
                </div>
                <div class="column is-one-quarter">
                    {% if not user.account.is_for_all %}
                        <h3 class="title is-4">Mis dispositivos</h3>
                        <h5 class="subtitle is-6 has-text-grey">Registrados</h5>
                        {% if not ac_devices.exists %}
                            <p class="content has-text-grey">No tiene dispositivos registrados.</p>
                        {% else %}
                            {% for ad in ac_devices %}
                                <article class="media">
                                    <figure class="media-left">
                                        <p class="image is-48x48">
                                            <img src="{% static 'images/icons/usbsecurity_ic.png' %}">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>Tipo:</strong> {{ ad.device.model.brand.type.name }}<br>
                                                <strong>Marca:</strong> {{ ad.device.model.brand.name }}<br>
                                                <strong>Modelo:</strong> {{ ad.device.model.name }}<br>
                                                <strong>Identifier:</strong> {{ ad.device.identifier }}<br>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        <h3 class="title is-4">Dispositivos</h3>
                        <h5 class="subtitle is-6 has-text-grey">Registrar</h5>
                    {% endif %}
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <div class="notification is-info is-light">
                                    Para registrar o modificar el estado de sus dispositivos
                                    contacte a su administrador.
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
