{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h3 class="title">Sistema de control USB</h3>
                    <p class="content">
                        USBSecurity es un conjunto de programas para gestionar el control de acceso a los puertos USB
                        del equipo.
                    </p>
                    {% if not user.is_authenticated %}
                        <article class="message is-info">
                            <div class="message-header">Dispositivos USB</div>
                            <div class="message-body">
                                Para utilizar dispositivos USB en este equipo proceda a conectarlos y luego
                                <a href="{% url 'login' %}">Inicie sesión</a>.<br>
                                <small><em>El orden es necesario primero conecte los dispositivos.</em></small>
                            </div>
                        </article>
                    {% else %}
                        <article class="message is-danger">
                            <div class="message-header">Descargo de responsabilidad</div>
                            <div class="message-body">
                                Es responsable de las eventos ocurridos por dispositivos USB
                                conectados a este equipo mientras permanezca abierta la sesión.
                            </div>
                        </article>
                    {% endif %}
                    <p class="content">
                        Para más información contacte a su administrador.
                    </p>
                </div>
                <div class="column is-one-quarter">
                    <figure class="image">
                        <img src="{% static 'images/icons/usbsecurity_ic.png' %}">
                    </figure>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
