{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h3 class="title">Sistema de control USB</h3>
                    <h5 class="subtitle has-text-grey">Bienvenido!</h5>
                    <p class="content">
                        USBSecurity es la aplicación para mantener el control de puertos USB
                        a nivel de usuario, máquina y dispositivo.
                    </p>
                    {% if not user.is_authenticated %}
                        <p class="content">
                            Si quiere utilizar los puertos USB del equipo. <a href="{% url 'login' %}">Inicie sesión</a>.
                        </p>
                    {% else %}
                        <article class="message is-warning">
                            <div class="message-header">Descarga de responsabilidad</div>
                            <div class="message-body">
                                Mientras no cierre la sesión, es responsable de las eventos ocurridos
                                a partir de los dispositivos USB conectados a este equipo. RECOMENDABLE,
                                al concluir, <a href="{% url 'account_logout' %}">Cerrar sesion</a>.
                            </div>
                        </article>
                    {% endif %}
                    <p class="content">
                        Para más información contacte a su administrador.
                    </p>
                </div>
                <div class="column is-one-quarter">
                    <figure class="image">
                        <img src="{% static 'images/icons/usbsecurity_ic.png' %}">
                    </figure>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
