{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Page not found{% endblocktrans %}{% endblock %}
{% block content-title %}{% blocktrans %}Page not found{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="container">
        <section class="section">
            <h1 class="title is-1">404</h1>
            <h3 class="subtitle">{% blocktrans %}This is not the web page you are looking for.{% endblocktrans %}</h3>
        </section>
    </div>
{% endblock %}