{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Page not found{% endblocktrans %}{% endblock %}
{% block content-title %}{% blocktrans %}Page not found{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="container">
        <section class="section">
            <h1 class="title">{% blocktrans %}Error 404{% endblocktrans %}</h1>
            <p>{% blocktrans %}The requested resource is not available.{% endblocktrans %}</p>
        </section>
    </div>
{% endblock %}