{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}| {% blocktrans %}Change password{% endblocktrans %}{% endblock %}
{% block content-title %}{% blocktrans %}Change password{% endblocktrans %}{% endblock %}

{% block content %}
    <section class="section">
        <div class="columns is-centered">
            <div class="column is-one-third">
                <h3 class="title">{% blocktrans %}Change password{% endblocktrans %}</h3>
                <form method="POST">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">{% blocktrans %}Current password{% endblocktrans %}</label>
                        <div class="field has-addons" style="margin-bottom: 0">
                            <div id="cur-psw" class="control has-icons-left is-expanded" data-see="off">
                                {{ form.password }}
                                <span class="icon is-left">
                                    <i class="mdi mdi-form-textbox-password"></i>
                                </span>
                            </div>
                            <div class="control">
                                <button type="button" class="button toggle-vis-psw" data-target="cur-psw">
                                    <span class="icon"><i class="mdi mdi-eye-outline"></i></span>
                                </button>
                            </div>
                        </div>
                        <span class="help">{% blocktrans %}Forgot your password? Contact your administrator{% endblocktrans %}</span>
                    </div>
                    <div class="field">
                        <label class="label">{% blocktrans %}New password{% endblocktrans %}</label>
                        <div class="field has-addons" style="margin-bottom: 0">
                            <div id="new-psw" class="control has-icons-left is-expanded" data-see="off">
                                {{ form.new_password }}
                                <span class="icon is-left">
                                    <i class="mdi mdi-form-textbox-password"></i>
                                </span>
                            </div>
                            <div class="control">
                                <button type="button" class="button toggle-vis-psw" data-target="new-psw">
                                    <span class="icon"><i class="mdi mdi-eye-outline"></i></span>
                                </button>
                            </div>
                        </div>
                        {{ form.new_password.errors }}
                        <span class="help">
                            {% blocktrans %}A strong password combines letters, numbers and signs with a minimum of 8 characters.{% endblocktrans %}
                        </span>
                    </div>
                    <div class="field">
                        <label class="label">{% blocktrans %}Confirm new password{% endblocktrans %}</label>
                        <div class="field has-addons">
                            <div id="confirm-new-psw" class="control has-icons-left is-expanded" data-see="off">
                                {{ form.confirm_new_password }}
                                <span class="icon is-left">
                                    <i class="mdi mdi-form-textbox-password"></i>
                                </span>
                            </div>
                            <div class="control">
                                <button type="button" class="button toggle-vis-psw" data-target="confirm-new-psw">
                                    <span class="icon"><i class="mdi mdi-eye-outline"></i></span>
                                </button>
                            </div>
                        </div>
                        {{ form.confirm_new_password.errors }}
                    </div>
                    <p class="content">
                        {% blocktrans %}The password is kept encrypted at all times, only the user knows it.{% endblocktrans %}
                    </p>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-primary is-fullwidth">
                                <span class="icon"><i class="mdi mdi-account-key-outline"></i></span>
                                <span>{% blocktrans %}Change password{% endblocktrans %}</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}