{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}| Cambiar contraseña{% endblock %}

{% block content %}
    <section class="section">
        <div class="columns is-centered">
            <div class="column is-one-third">
                <h3 class="title">Cambiar contraseña</h3>
                <form method="POST">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">{% blocktrans %}Contraseña actual{% endblocktrans %}</label>
                        <div class="field has-addons" style="margin-bottom: 0">
                            <div id="cur-psw" class="control has-icons-left is-expanded" data-see="off">
                                {{ form.password }}
                                <span class="icon is-left">
                                    <i class="mdi mdi-form-textbox-password"></i>
                                </span>
                            </div>
                            <div class="control">
                                <button type="button" class="button toggle-vis-psw" data-target="cur-psw">
                                    <span class="icon"><i class="mdi mdi-eye-outline"></i></span>
                                </button>
                            </div>
                        </div>
                        <span class="help">¿Ha olvidado su contraseña? Contacte a su administrador</span>
                    </div>
                    <div class="field">
                        <label class="label">{% blocktrans %}Nueva contraseña{% endblocktrans %}</label>
                        <div class="field has-addons" style="margin-bottom: 0">
                            <div id="new-psw" class="control has-icons-left is-expanded" data-see="off">
                                {{ form.new_password }}
                                <span class="icon is-left">
                                    <i class="mdi mdi-form-textbox-password"></i>
                                </span>
                            </div>
                            <div class="control">
                                <button type="button" class="button toggle-vis-psw" data-target="new-psw">
                                    <span class="icon"><i class="mdi mdi-eye-outline"></i></span>
                                </button>
                            </div>
                        </div>
                        {{ form.new_password.errors }}
                        <span class="help">
                            Una contraseña fuerte combina letras, números y signos con un mínimo 8 caracteres.
                        </span>
                    </div>
                    <div class="field">
                        <label class="label">{% blocktrans %}Confirmar nueva contraseña{% endblocktrans %}</label>
                        <div class="field has-addons">
                            <div id="confirm-new-psw" class="control has-icons-left is-expanded" data-see="off">
                                {{ form.confirm_new_password }}
                                <span class="icon is-left">
                                    <i class="mdi mdi-form-textbox-password"></i>
                                </span>
                            </div>
                            <div class="control">
                                <button type="button" class="button toggle-vis-psw" data-target="confirm-new-psw">
                                    <span class="icon"><i class="mdi mdi-eye-outline"></i></span>
                                </button>
                            </div>
                        </div>
                        {{ form.confirm_new_password.errors }}
                    </div>
                    <p class="content">
                        La contraseña se mantiene en todo momento cifrada, sólo el usuario la conoce.
                    </p>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-primary is-fullwidth">
                                <span class="icon"><i class="mdi mdi-key-change"></i></span>
                                <span>Cambiar contraseña</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}