{% extends 'base.html' %}
{% load static %}

{% block title %}| Puerto USB {{ bus_port }}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'account' %}">Mi cuenta</a></li>
                    <li><a href="{% url 'account_devices' 1 %}">Mis dispositivos</a></li>
                    <li class="is-active"><a aria-current="page">Puerto USB {{ device.bus_port }}</a></li>
                </ul>
            </nav>
            <p class="content">
                {% if not device %}
                    No hay dispositivo conectado al puerto.
                {% else %}
                    <strong>Dispositivo:</strong> {{ device.tag }}<br>
                    <strong>ID:</strong> {{ device.device_id }}<br>
                    <strong>Autorizado:</strong> {% if not device.is_authorized %}No{% else %}Sí{% endif %}<br>
                    <strong>Fecha:</strong> {{ device.date_time_created }}<br>
                {% endif %}
            </p>
            {% if device.is_authorized %}
                <a class="button is-primary" href="{% url 'account_port_block' bus_port %}">
                    <span class="icon"><i class="mdi mdi-lock"></i></span>
                    <span>Bloquear</span>
                </a>
            {% endif %}
        </div>
    </section>
{% endblock %}
