{% extends 'base.html' %}
{% load static %}

{% block title %}| Puerto USB {{ bus_port }} | Bloquear{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h3 class="title">Bloquear puerto USB {{ bus_port }}</h3>
            <h5 class="subtitle has-text-grey">{% if not device %}No tiene dispositivo conectado{% else %}{{ device.tag }}{% endif %}</h5>
            <p class="content">
                ¿Realmente quiere bloquear este puerto?
            </p>
            <form method="POST">
                {% csrf_token %}
                <div class="buttons">
                    <button type="submit" class="button is-primary">
                        <span class="icon"><i class="mdi mdi-lock"></i></span>
                        <span>Sí, bloquear</span>
                    </button>
                    <a class="button" href="{% url 'account_port' bus_port %}">
                        <span class="icon"><i class="mdi mdi-page-previous"></i></span>
                        <span>No, ir atrás</span>
                    </a>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
